<h4 class="media-heading">{{file.name}}</h4>
<p>Type: {{file.type}}, size: {{file.size}}</p>

<p>Progress: {{progress}}</p>
{{#if success}}
  <p>Success</p>
{{/if}}
{{#if failed}}
  <p>Failed</p>
{{/if}}
