<h4 class="media-heading">{{file.name}}</h4>
<p>Type: {{file.type}}, size: {{file.size}}</p>

<p>Progress: {{progress}}</p>
{{#if success}}
<div class="alert alert-success">
  Image upload successful!
</div>
{{/if}}
{{#if failed}}
  <div class="alert alert-danger">
    Image upload failed!
  </div>
{{/if}}
