<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-2">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      {{#link-to 'index' class="navbar-brand"}}JOURNAL<sub>ized</sub>{{/link-to}}
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">
      <ul class="nav navbar-nav">

        {{#link-to 'index' href='false' tagName='li' active=isActive.index}}
      		{{#link-to 'index'}}Home{{/link-to}}
      	{{/link-to}}
        {{#if authManager.isAuthenticated}}
          {{#link-to 'entries' href='false' tagName='li' active=isActive.entries}}
        		{{#link-to 'entries'}}Journal{{/link-to}}
        	{{/link-to}}
          {{#link-to 'channels' href='false' tagName='li' active=isActive.channels}}
        		{{#link-to 'channels'}}Channels{{/link-to}}
        	{{/link-to}}
          {{#link-to 'users' href='false' tagName='li' active=isActive.users}}
        		{{#link-to 'users'}}Buddies{{/link-to}}
        	{{/link-to}}
        {{/if}}
      </ul>
      <ul class="nav navbar-nav navbar-right">
        {{#if authManager.isAuthenticated}}
          <li>{{#link-to 'logout'}}Logout{{/link-to}}</li>
        {{else}}
          <li>{{#link-to 'login'}}Login{{/link-to}}</li>
        {{/if}}
      </ul>
    </div>
  </div>
</nav>
