/* @imports must appear at top of stylesheet to be valid CSS */
/*@import 'example.min.css';*/

/* Any CSS rules must go *after* any @imports *//* Any CSS rules must go *after* any @imports */

.image-preview {
  border-radius: 3px;
  height: 64px;
  width: 64px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: inline-block;
  background-color: #d3d3d3;
  border: 1px solid #D3D3D3;
}
