<div class="row">
  <div class="col-xs-8">

    {{page-register onSuccess=(route-action "registrationSuccessful")}}

  </div>
  <div class="col-xs-4">
    <h4>Help</h4>
    <p>Registration requires a valid email address.</p>
  </div>
</div>
