<h1>{{model.name}} <small>{{#link-to 'journals.show.edit' model}}<span class="glyphicon glyphicon-pencil"></span>{{/link-to}}
{{#link-to 'journals.show.users' model}}<span class="glyphicon glyphicon-user"></span>{{/link-to}}</small></h1>
<p class="list-group-item-text">{{model.description}}</p>
