<div class="row">
  <div class="col-lg-12">
    <h1 id="title">My journal</h1>
    <p>A chronological (or recently updated) view on everything you posted. Filters on time, location, .. will help finding things. <br>Also use the search above to find what you're looking for.</p>
  </div>
</div>


<div class="row">
  <div class="col-lg-3" {{action "createEntry"}}>
  	<button class="btn btn-block">Create new Entry</button>
  </div>
  <div class="col-lg-3">
  	<select class="form-control" id="select">
      <option>2015</option>
      <option>2014</option>
      <option>1982</option>
      <option>1958</option>
    </select>
  </div>
  <div class="col-lg-3">
  	<select class="form-control" id="select">
      <option>All</option>
      <option>August</option>
      <option>November</option>
      <option>December</option>
    </select>
  </div>
  <div class="col-lg-3">
  	<select class="form-control" id="select">
      <option>Chronological</option>
      <option>Recently Updated</option>
    </select>
  </div>
</div>


<div class="row">
  <div class="col-lg-12">

    <h4><span class="label label-success">12th Nov 2015</span> Mountain climbing was so fun <span class="label label-info">Shared</span></h4>
    <p>Me an Daniel spent the weekend in a place where man belong - the alps in europe. I remember us not walking for so long in a while.
    Fun part: Daniel had to pull me up that place I thaught him how to climb - times changed!

    <br>
    <br>
    I eventually shared this post with Daniel.</p>
  </div>
</div>

<div class="row">
  <div class="col-lg-12">
    <h4><span class="label label-success">2nd Nov 1958</span> Mom was born <span class="label label-danger">public</span></h4>
    <p>Unimaginable! No way this could happen today. But when mom was born - they didn't go to a hospital but were stying at home. While it was snowing outside the only heat inside came from the ofen which was available only in the kitchen.<br>
    <br>
    I made this post public since it's a long time ago and I want to know everybody about it. Haha</p>
  </div>
</div>

<div class="row">
  <div class="col-lg-12">
    <button class="btn btn-block">Load more..</button>
  </div>
</div>
