<div class="row">
  <div class="col-lg-12">
    {{edit-entry
      title="Noteworthy"
      description="Write down things that made you smile, your thoughts, ideas, inspirations."
      onSave=(route-action "createSuccess")
      onCancel=(route-action "cancelCreate")
    }}
  </div>
</div>
