<div class="row">
  <div class="col-lg-12">
    {{edit-entry
      model=model
      onSave=(route-action "editSuccess")
      onDelete=(route-action "deleteSuccess")
      onCancel=(route-action "cancelEdit")
    }}
  </div>
</div>
