
{{#unless model.authManager.isAuthenticated}}
<div class="jumbotron text-center">
  <h1>Hi anonymous!</h1>
  <p class="lead">This is your private journal.</p>
  <p>
    {{#link-to 'login' class="btn btn-success"}}Login{{/link-to}}
    {{#link-to 'login.register' class="btn btn-primary"}}Registrieren{{/link-to}}
  </p>
  <p>
    {{#link-to 'public' class="btn btn-block btn-link"}}Öffentliche Tagebücher{{/link-to}}
  </p>
</div>

{{else}}
<div class="jumbotron text-center">
  <h1>Hi {{model.authManager.user.name}}!</h1>
  <p class="lead">This is your private journal.</p>
  <p>
    {{#link-to 'login' class="btn btn-primary"}}Journal-Überblick{{/link-to}}
    {{#link-to 'login.register' class="btn btn-success"}}Beiträge{{/link-to}}
  </p>
  <p>
    {{#link-to 'public' class="btn btn-block btn-link"}}Öffentliche Tagebücher{{/link-to}}
  </p>
</div>
{{/unless}}
