<h1>Login</h1>
<p>Type name and password to login</p>

<p>{{#link-to 'index' class="btn btn-success"}}Login{{/link-to}}</p>

<h1>Register</h1>
<p>Type name, password, e-mail to login</p>

<p>{{#link-to 'index' class="btn btn-success"}}Register{{/link-to}}</p>